.vscode/
mesonbuild/
build/
debian/files
debian/tmp
debian/debhelper-build-stamp
debian/plymouth-theme-singularity.substvars
debian/plymouth-theme-singularity
debian/plymouth-theme-singularity-bgrt
debian/plymouth-theme-singularity-logo
debian/plymouth-theme-singularity-text
debian/plymouth-theme-singularity-bgrt.substvars
debian/plymouth-theme-singularity-logo.substvars
debian/plymouth-theme-singularity-text.substvars
debian/plymouth-theme-singularity.debhelper.log
debian/plymouth-theme-singularity-bgrt.debhelper.log
debian/plymouth-theme-singularity-logo.debhelper.log
debian/plymouth-theme-singularity-text.debhelper.log
debian/.debhelper